<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>ComprarPassagem</servlet-name>
        <servlet-class>servlets.ComprarPassagem</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ComprarSelecionado</servlet-name>
        <servlet-class>servlets.ComprarSelecionado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConfirmacaoCompra</servlet-name>
        <servlet-class>servlets.ConfirmacaoCompra</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ConcluirCadastro</servlet-name>
        <servlet-class>servlets.ConcluirCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlteracaoCadastro</servlet-name>
        <servlet-class>servlets.AlteracaoCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AlterarCadastro</servlet-name>
        <servlet-class>servlets.AlterarCadastro</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RecuperarHistorico</servlet-name>
        <servlet-class>servlets.RecuperarHistorico</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HistoricoSelecionado</servlet-name>
        <servlet-class>servlets.HistoricoSelecionado</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ComprarPassagem</servlet-name>
        <url-pattern>/ComprarPassagem</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ComprarSelecionado</servlet-name>
        <url-pattern>/ComprarSelecionado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConfirmacaoCompra</servlet-name>
        <url-pattern>/ConfirmacaoCompra</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ConcluirCadastro</servlet-name>
        <url-pattern>/ConcluirCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlteracaoCadastro</servlet-name>
        <url-pattern>/AlteracaoCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AlterarCadastro</servlet-name>
        <url-pattern>/AlterarCadastro</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RecuperarHistorico</servlet-name>
        <url-pattern>/RecuperarHistorico</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HistoricoSelecionado</servlet-name>
        <url-pattern>/HistoricoSelecionado</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
